@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('index.css');
* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body {
<<<<<<< Updated upstream
    background-color: rgb(252, 229, 221);;
=======
    background-color: white;
>>>>>>> Stashed changes
}