<div class="main-div">
    <div class="main-div-img">
        <img src="assets/images/chocolate-birthday-cake.jpg" alt="main-img" id="main-img">
    </div>
    <div class="main-div-text">
        <h2 id="welcome-msg"><span>Welcome</span><br>to FORNO</h2>
        <p id="tagline">Love At First Bite</p>
        <LinkTo @route="about"><button type="submit" class="read-more-btn">Read more</button></LinkTo>
    </div>
</div>