<nav>
    <div class="logo">
        <img src="assets/images/Minimal Modern Bakery Shop Logo.png" alt="web-logo" class="web-logo">
    </div>
    <ul id="ul-2">
        <li>
            <LinkTo @route="index" class="home">Home</LinkTo>
        </li>
        <li>
            <LinkTo @route="about" class="about">About</LinkTo>
        </li>
        <li>
            <LinkTo @route="contact" class="contact">Contact</LinkTo>
        </li>
    </ul>
</nav>