<button type="button" class="image">
    <img ...attributes>
    {{!-- {{#if this.isLarge}}
        <small>View Smaller</small>
    {{else}}
        <small>View Larger</small>
    {{/if}} --}}
</button>