  <div class="about-div">
      <div class="main-div-img-about">
        <h2 id="welcome-msg"><span>About FORNO</span></h2>
        <p id="tagline"> The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.</p>
        <LinkTo @route="about"><button type="submit" class="read-more-btn-about">Contact Us</button></LinkTo>
    </div>
    <div class="main-div-text-about">
        <img src="assets/images/chocolate_cake.jpeg" alt="main-img" id="about-img">
    </div>
  </div>