<IndexMain>
<div class="cake-gallery">
    <ul>
        {{#each @model as |rental|}}
            <li><Cakes @cakes={{rental}} /></li>
        {{/each}}
    </ul>
</div>  
</IndexMain>
<Search @cakes={{@model}}></Search>
